$sidebar-background: #FAFBFD;
$sidebar-font: #9E9E9E;

$default-input: #828282;
$default-input-hover:#333333;
$default-input-focus: #2962FF;

$error-input: #D32F2F;
$error-input-hover: #333333;
$error-input-focus: #D32F2F;

$disabled-input-background: #F2F2F2;
$disabled-input: #E0E0E0;


$helper-text: #828282;